parameters:

    level: 10

    paths:
        - src
        - tests

    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml

    excludePaths:
        - tests/bootstrap.php
        - src/Kernel.php
        
    doctrine:
        allowNullablePropertyForRequiredField: true